<!doctype html>
{% load i18n static %}
<html lang=ja>
  <head>
    <meta charset="utf-8">
    <meta http-equic="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}{% endblock %}</title>

    {# --- css ---#}
    <link ref="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/googlemap.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style type="text/css">
      body{
        background-color: #dadada;
      }
    </style>
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% block content %}{% endblock %}

    {# --- js --- #}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key='ここに「Googlemap Javascript API」をいれる'&callback=initMap" async="", defer=""></script>
    <script src="{% static 'js/original-googlemap.js' %}"></script>
    {% block extra_js %}{% endblock %}
  </body>
</html>